@import "./../../node_modules/bootstrap/scss/bootstrap";
@import "colors";

@font-face {
  font-family: 'PT_Sans';
  font-weight: normal;
  src: url("../fonts/PT_Sans/PTSans-Regular.ttf");
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf');
  font-style: normal;
  font-weight: normal;
}

@keyframes shadow-animate {
  0% {
    text-shadow: 0 0 0 $gray-custom;
  }

  50% {
    text-shadow: 0 0 4px $gray-custom;
  }

  100% {
    text-shadow: 0 0 0 $gray-custom;
  }
}

body {
  background-color: $milk;
  height: 2000px;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: PT_Sans, sans-serif;
  font-size: 14px;
}

.container {
  justify-content: space-between;

  .navbar {


    .navbar-brand {
      display: block;
    }

    .navbar-toggler {
      border: 1px solid $blue-custom;

      &:hover {
        border: 2px solid $blue-custom;
      }
    }

    &-nav {
      color: #2d2d2d;

      .nav-item {

        .nav-link {
          color: $gray-custom;
          font-size: 1.1rem;

          &:hover {
            color: $blue-custom;
          }
        }
      }
    }

    .show {

      .navbar-nav {

        .nav-item {

          .nav-link {
            transition: none;
          }
        }
      }
    }
  }
}

.container {

  .main-bg {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    background-size: 100% auto;
    height: 500px;
    width: 100%;
    word-wrap: anywhere;
    z-index: 0;

    .block {
      display: flex;
      margin: 0 auto;
      max-width: 60%;
      text-transform: uppercase;
      z-index: 100;

      &-title {
        text-align: center;
        line-height: 48px;
        color: $dark-custom;
        font-size: 20px;
        font-stretch: 200%;
        font-weight: 700;
        letter-spacing: 0.5rem;
        -moz-text-shadow: 0 0 2px $gray-custom;
        -webkit-text-shadow: 0 0 2px $gray-custom;
        text-shadow: 0 0 0 $gray-custom;
        animation: shadow-animate 10s running infinite;
      }
    }
  }
}

section {
  .container {
    height: 200px;
    background-color: black;

    .row {
      height: inherit;

      .grow-business {
        background-color: white;
        color: $black-custom;
        height: 100%;
      }

      .advantages {
        background-color: $blue-custom;
        color: white;
        height: 100%;
        letter-spacing: 1px;
      }
    }


  }
}

.btn-primary {
  margin-top: 10px;
  padding: 3px 20px;
  border-radius: 20px;
}