@import "./../../node_modules/bootstrap/scss/bootstrap";
@import "colors";

@font-face {
  font-family: 'PT_Sans';
  font-weight: normal;
  src: url("../fonts/PT_Sans/PTSans-Regular.ttf");
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf');
  font-style: normal;
  font-weight: normal;
}

* {
  box-sizing: border-box;
  font-family: PT_Sans, sans-serif;
  font-size: 14px;
}

$container-max-widths: (
        sm: 540px,
        md: 540px,
        lg: 660px,
        xl: 840px,
        xxl: 1110px
);

.container {
  justify-content: space-between;

  .navbar-brand {
    display: block;
  }

  .nav {
    color: #2d2d2d;

    .nav-item {

      .nav-link {

      }
    }

  }
}

.container {
  .img {
    display: block;
    background: url("../img/logo55.png") no-repeat center;
    height: 25px;
    width: 200px;
  }
}


.btn-primary {
  margin-top: 10px;
  padding: 3px 20px;
  border-radius: 20px;
}